@section Title
{
    Результат отправки сообщения - ITAcademy.TaskTwo.Web
}
<br />
<h4 class="col-sm-6">@Model</h4>
<br />
<form method="get" asp-controller="Employee" asp-action="Index">
    <input type="submit" value="Продолжить" />
</form>