@model TaskTwo.Web.ViewModels.AccountVM.AccountRegister
@section Title
{
    Регистрация нового пользователя - ITAcademy.TaskTwo
}
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<h4>Регистрация нового пользователя</h4>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <p>
        <label asp-for="Name" class="required"></label><br />
        <input asp-for="Name" class="col-sm-4" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Email" class="required"></label><br />
        <input asp-for="Email" class="col-sm-4" />
        <span asp-validation-for="Email"></span>
    </p>
    <p>
        <label asp-for="Password" class="required"></label><br />
        <input asp-for="Password" class="col-sm-4" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label asp-for="PasswordConfirm" class="required"></label><br />
        <input asp-for="PasswordConfirm" class="col-sm-4" />
        <span asp-validation-for="PasswordConfirm"></span>
    </p>
    <p>
        <input type="submit" value="Регистрация" />
    </p>
</form>
<p class="text-small"><font class="required">&nbsp;</font> - поле обязательное для заполнения</p>
@if (!User.Identity.IsAuthenticated)
{
    <hr />
    <a asp-controller="Account" asp-action="Authenticate">Войти в приложение с имеющейся учетной записью</a>
}